<div class='columns'>
  <div class='column is-3'>
    <%= form_tag("/#{user.name}/groups", class: 'control has-addons') do %>
      <%= text_field_tag 'group[name]', '', placeholder: 'group name', class: 'input' %>
      <%= submit_tag 'create', class: 'button is-info' %>
    <% end %>
  </div>
</div>

<% user.groups.reverse.each_slice(4) do |groups| %>
  <div class='columns'>
    <% unless groups[0].nil? %>
      <div class="column is-3">
        <%= render partial: 'groups/group', locals: { group: groups[0] } %>
      </div>
    <% end %>
    <% unless groups[1].nil? %>
      <div class="column is-3">
      <%= render partial: 'groups/group', locals: { group: groups[1] } %>
      </div>
    <% end %>
    <% unless groups[2].nil? %>
      <div class="column is-3">
      <%= render partial: 'groups/group', locals: { group: groups[2] } %>
      </div>
    <% end %>
    <% unless groups[3].nil? %>
      <div class="column is-3">
      <%= render partial: 'groups/group', locals: { group: groups[3] } %>
      </div>
    <% end %>
  </div>
<% end %>
