<div class="column is-4">
  <%= link_to play_record_path(name: user.name, uuid: record.uuid), target: '_blank' do %>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3"><%= image_tag record.screenshot_url, alt: record.uuid %></figure>
        <% unless record.uploaded? %><span class="tag is-danger" style="float:right;border-radius:0px">Making</span><% end %>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <%= image_tag user.twitter_image_url, alt: user.name %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5" style="color: #000;"><%= "#{user.twitter_name}" %></p>
            <p class="subtitle is-6" style="color: #000;"><%= "@#{user.name}" %></p>
          </div>
        </div>
        <div class="content">
          <p class="subtitle is-5" style="color: #000;"><%= "#{record.title || 'Anonymous'}" %></p>
          <small><%= record.duration.ceil %> <%= t('time.sec') %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
