<%= stylesheet_link_tag 'records' %>
<div class="column is-3">
  <%= link_to play_record_path(nickname: user.nickname, uuid: record.uuid), target: '_blank' do %>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3"><%= image_tag asset_path('loading.gif'), alt: record.uuid, class: "video-uuid #{record.uuid} init", uid: record.uuid, owner: user.nickname %></figure>
        <% unless record.uploaded? %>
          <span class="tag is-danger"><%= t('streaming.making') %></span>
        <% else %>
          <span class="tag is-dark"><%= category(record.category) %></span>
        <% end %>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <%= image_tag "#{user.gh.image || user.twitter_image_url}", alt: user.name %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5"><%= user.name %></p>
            <p class="subtitle is-6">@<%= "#{user.nickname}" %></p>
          </div>
        </div>
        <div class="content">
          <p class="subtitle is-5"><%= "#{record.title || I18n.t('content.title.default')}" %></p>
          <small><%= time(record.duration.ceil) %></small><br />
          <small><%= t('streaming.total') %> : <%= record.total || 0 %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
