<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="streamTitle"><h1 class="title" style="margin-bottom: 0px;"><%= "#{@record.title || 'Anonymous'}" %></h1></div>
  <span class="tag is-default is-medium"><%= %w(Others Ruby Python)[@record.category] %></span>
  <% if current_user == @user %>
    <%= link_to profile_path(name: @user.name), target: '_blank' do %>
      <h2 class="subtitle" style="margin-top: 5px;margin-bottom: 5px;padding-bottom:5px;"><%= @user.name %></h2>
    <% end %>
    <a style="display:none;" class="saveTitle button is-info"><%= t('user.cancel') %></a>
    <a class="editTitle button is-info"><%= t('user.edit_title') %></a>
  <% else %>
    <%= link_to profile_path(name: @user.name), target: '_blank' do %>
      <h2 class="subtitle" style="margin-bottom: 10px;"><%= @user.name %></h2>
    <% end %>
  <% end %>
  <div class="columns">
    <div class="column is-8">
      <%= render partial: 'player', locals: { record: @record } %>
      <h2 class="subtitle" id="total"><%= t('streaming.total') %> : <%= @record.total %></h2>
    </div>
    <div class="column is-4">
    </div>
  </div>
</div>
<%= render partial: 'all', locals: { records: @user.records.select { |r| r.duration.ceil > 0 } } %>
<script>
  $(function() {
    $('.editTitle').on('click', function() {
      $(this).toggle();
      $('.saveTitle').toggle();
      var _title = jQuery.trim($('.streamTitle').text());
      $('.saveTitle').attr('title', _title);
      $('.streamTitle').html('<form id="titleForm" format="js" accept-charset="UTF-8" data-remote="true" method="post" action="/<%= @user.name %>/record/<%= @record.uuid %>/update_title"><input type="text" name="record[title]" class="input updateTitle" value="' + _title + '" focus="true" placeholder="Enterで保存" /></form>')
    });
    $('.saveTitle').on('click', function() {
      $(this).toggle();
      $('#titleForm').html('<h1 class="title">' + $(this).attr('title') + '</h1>')
      $('.editTitle').toggle();
    });
  });
</script>
