<%= stylesheet_link_tag 'records' %>

<!-- Main -->
<div id="record_main" class="container">
  <div class="columns">
    <div class="column is-8">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag @user.twitter_image_url, alt: @user.name %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
            <% if current_user == @user %>
              <span id="stream_title" data-balloon="タイトルをクリックして編集できます" data-balloon-pos="up"><%= @record.title || I18n.t('content.title.default') %></span>
              <input class="input title_form" type="text" placeholder="<%= @record.title %>" />
              <br>
              <span id="username" ><%= @user.name %></span>
              <span class="select" style="float:right">
                <select>
                  <option>UI/UX</option>
                  <option>Ruby</option>
                  <option>Python</option>
                </select>
              </span>
            <% else %>
              <span id="stream_title"><%= @record.title || I18n.t('content.title.default') %></span>
              <br>
              <span id="username"><%= @user.name %></span>
              <span class=" category tag is-dark"><%= category(@record.category) %></span>
            <% end %>
            </p>
          </div>
        </div>
      </article>
      <%= render partial: 'player', locals: { record: @record } %>
      <p id="status">
        <span class="subtitle"><strong><%= t('streaming.total') %>  <%= @record.total %></strong></span>
        <% if user_signed_in? %>
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= button_tag t('user.unfollow'), class: 'button is-danger unfollow', style: 'float:right;' %>
              <%= button_tag t('user.follow'), class: 'button is-success follow', style: 'float:right;display:none;' %>
            <% else %>
              <%= button_tag t('user.follow'), class: 'button is-success follow', style: 'float:right;' %>
              <%= button_tag t('user.unfollow'),  class: 'button is-danger unfollow', style: 'float:right;display:none;' %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<!-- Reocrds -->
<div class="container">
  <%= render partial: 'all', locals: { records: @user.records.select { |r| r.duration.ceil > 0 } } %>
</div>

<script>
  $(function() {
    $('.follow').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: "/<%= @user.name %>/follow",
        success: function() {
          $('.follow').hide();
          $('.unfollow').show();
        }
      });
    });
    $('.unfollow').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: "/<%= @user.name %>/unfollow",
        success: function() {
          $('.unfollow').hide();
          $('.follow').show();
        }
      });
    });
    $('.editTitle').on('click', function() {
      $(this).toggle();
      $('.saveTitle').toggle();
      var _title = jQuery.trim($('.streamTitle').text());
      $('.saveTitle').attr('title', _title);
      $('.streamTitle').html('<form id="titleForm" format="js" accept-charset="UTF-8" data-remote="true" method="post" action="/<%= @user.name %>/record/<%= @record.uuid %>/update_title"><input type="text" name="record[title]" class="input updateTitle" value="' + _title + '" focus="true" placeholder="Enterで保存" /></form>')
    });
    $('.saveTitle').on('click', function() {
      $(this).toggle();
      $('#titleForm').html('<h1 class="title">' + $(this).attr('title') + '</h1>')
      $('.editTitle').toggle();
    });
  });
</script>
