<%= stylesheet_link_tag 'records' %>

<!-- Main -->
<div id="record_main" class="container">
  <div class="columns">
    <div class="column is-8">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag @user.gh.image, alt: @user.name %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <% if current_user == @user %>
              <div id="stream_title">
              <span data-balloon="タイトルをクリックして編集できます" data-balloon-pos="up" style="font-size:18pt;"><%= @record.title || I18n.t('content.title.default') %></span><br />
              </div>
              <form class="title_form" format="js" accept-charset="UTF-8" data-remote="true" method="post" action="/<%= @user.nickname %>/record/<%= @record.uuid %>/update_title" style="display:none;height:34px;">
                <input type="text" name="record[title]" class="input update_title" value="<%= @record.title %>" focus="true" placeholder="Enterで保存" />
              </form>
            <% else %>
              <div>
                <span id="stream_title"><%= @record.title || I18n.t('content.title.default') %></span>
              </div>
            <% end %>
            <span id="username"><%= @user.name %></span>
            <span class=" category tag is-dark"><%= category(@record.category) %></span>
          </div>
        </div>
      </article>
      <%= render partial: 'player', locals: { record: @record } %>
      <p id="status">
        <span class="subtitle"><strong><%= t('streaming.total') %>  <%= @record.total %></strong></span>
        <% if user_signed_in? %>
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= button_tag t('user.unfollow'), class: 'button is-danger unfollow', style: 'float:right;' %>
              <%= button_tag t('user.follow'), class: 'button is-success follow', style: 'float:right;display:none;' %>
            <% else %>
              <%= button_tag t('user.follow'), class: 'button is-success follow', style: 'float:right;' %>
              <%= button_tag t('user.unfollow'),  class: 'button is-danger unfollow', style: 'float:right;display:none;' %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<!-- Reocrds -->
<div class="container">
  <%= render partial: 'all', locals: { records: @user.records.select { |r| r.duration.ceil > 0 } } %>
</div>

<script>
  $(function() {
    $('.follow').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: "/<%= @user.nickname %>/follow",
        success: function() {
          $('.follow').hide();
          $('.unfollow').show();
        }
      });
    });
    $('.unfollow').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        url: "/<%= @user.nickname %>/unfollow",
        success: function() {
          $('.unfollow').hide();
          $('.follow').show();
        }
      });
    });
    $('#stream_title').click(function() {
      $(this).hide()
      $('.title_form').show();
      $('.update_title').focus();
    });
    $('.update_title').focusout(function() {
      $('.title_form').hide();
      $('#stream_title').show();
    });
  });
</script>
