<!DOCTYPE html5>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= @user.name %> - Chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://noraesae.github.io/perfect-scrollbar/perfect-scrollbar.min.css' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav">
      <div class="nav-left">
        <span class="nav-item"><i class="fa fa-eye"></i><span id="current_number">0</span></span>
      </div>
    </nav>

    <!-- Header -->
    <div class="columns navbar" style="margin-bottom:0;">
      <div class="column is-12">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <%= image_tag "#{@user.gh.image || @user.twitter_image_url}", alt: @user.name %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
              <span id="stream_title" style="font-size:18pt;"><%= @user.title || t('content.title.default') %></span>
                <br>
                <span style="font-size:14pt;"><%= @user.name %></span>
                <span class="tag is-dark" style="float:right;border-radius:0;"><%= category(@user.category) %></span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- Comments -->
    <div id="comment_area" style='padding-top:0px;padding-bottom:0px;'>
      <ul id="comments" style='overflow-y:scroll;position:relative;height:100%;'>
        <%= render partial: 'chat', locals: { chats: @chats } %>
      </ul>
    </div>
    <%= render partial: 'stream/chat_form' %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
<script src='https://s3-ap-northeast-1.amazonaws.com/pushould-static-files/v0.0.2/pushould.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/js/perfect-scrollbar.jquery.min.js'></script>
<script>
  $(function() {
    $('#comment_area').css('height', $(window).height() - $('nav').height() - $('.navbar').height() - 32 - 110 - 4);
    $('#comments').perfectScrollbar();
    $(window).resize(function() {
      $('#comment_area').css('height', $(window).height() - $('nav').height() - $('.navbar').height() - $('#chat_form').height());
      $('#comments').perfectScrollbar();
    });
    $('.message').keypress(function(e) {
      if (e.which == 13) {
        var _text = jQuery.trim($('.message').val());
        if (_text.length == 0) {
          $('.message').val('');
          $('.msg-error').show();
          return false;
        }
        $('.msg-error').hide();
        $('#comments').append('<% if user_signed_in? %><li>' +
          '<%= link_to stream_path(nickname: current_user.nickname), style: "color: #000", target: "_blank"  do %>' +
            '<article class="media">' +
              '<figure class="media-left">' +
                '<p class="image is-32x32">' +
                  '<%= image_tag User.find_by(nickname: current_user.nickname).gh.image, alt: current_user.name %>' +
                '</p>' +
              '</figure>' +
              '<div class="media-content">' +
                '<div class="content">' +
                  '<p>' +
                    '<strong><%= current_user.name %></strong>' +
                    '<br />' +
                    $('.message').val() +
                  '</p>' +
                '</div>' +
              '</div>' +
            '</article>' +
          '<% end %>' +
        '</li><% end %>');
//        $('#comments').animate({ scrollTop: $('#comments').prop('scrollHeight') }, "slow");
        $.ajax({
          type: 'POST',
          url: "/<%= @user.nickname %>/chat",
          data: {
            chat: {
              text: $('.message').val()
            }
          },
        });
        $('.message').val('');
        return false;
      }
    });
    $('#comments').animate({ scrollTop: $('#comments').prop('scrollHeight') }, "slow");
    var pushould = new Pushould({ url: '<%= @url %>', client_token: '<%= @client_token %>' });
    var channel = pushould.subscribe('<%= @channel %>');
    channel.bind('send', function(msg) {
      $('#comments').append('<li>' +
        '<a href="/' + msg.nickname + '" style="color: #000;" target="_blank">' +
          '<article class="media">' +
            '<figure class="media-left">' +
              '<p class="image is-32x32">' +
                '<img src=' + msg.image + ' alt=' + msg.name +' />' +
              '</p>' +
            '</figure>' +
            '<div class="media-content">' +
              '<div class="content">' +
                '<p>' +
                  '<strong>' + msg.name + '</strong>' +
                  '<br />' +
                  msg.text +
                '</p>' +
              '</div>' +
            '</div>' +
          '</article>' +
        '</a></li>');
      $('#comments').animate({ scrollTop: $('#comments').prop('scrollHeight') }, "slow");
    });
    channel.bind('current', function(msg) {
      $('#current_number').text(msg.count);
    });
    channel.bind('disconnect', function(msg) {
      $.ajax({
        type: 'POST',
        url: '/<%= @user.nickname %>/current'
      });
    });
    channel.bind('view', function(msg) {
      $('#total').text(msg.views);
    });
  });
</script>
  </body>
</html>
